/* src/Inicio.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.content {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #555;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #777;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.styled-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #0056b3;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6b73ff, #c2c2c2);
}

.content {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.main-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-direction: column; /* Cambiamos el flujo a columna */
    align-items: center; /* Centramos los botones horizontalmente */
    gap: 10px;
}


.styled-button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.styled-button:hover {
    background: #0056b3;
}